<p id="notice"><%= notice %></p>

<!-- Chosen Section -->
<section class="content-section">
  <div class="signup-section">
    <div class="container">
      <h2>All Restaurants</h2>
    <ul class="list-unstyled">
      <% @restaurants.each do |restaurant| %>
      <li class="col-md-3">
        <%= link_to restaurant_path(restaurant),:target => "_blank" do %>
        <%= image_tag restaurant.asset.url(:medium) %>
        <% end %>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>