<section class="content-section">
  <div class="show-section">
    <div class="container">
      <div class="col-lg-12 text-center">
      <%= image_tag @restaurant.asset.url, :class => "content__image" if @restaurant.asset? %>
        <h2><%= h_rest_name(@restaurant)["title"] %> <br>
		<small><%= h_rest_name(@restaurant)["slogan"] %></small></h2>
		<p><%= @restaurant.description %></p>
 
      </div> 
    </div>
  </div>
</section>